/* Fonts */
@font-face {
	font-family: 'open sans light';
	src: url('../fonts/opensans-light-webfont.eot');
	src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open sans';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open sans semibold';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open sans bold';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open sans extrabold';
	src: url('../fonts/opensans-extrabold-webfont.eot');
	src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff'), url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'), url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {
	font-family: 'open sans';
	font-size: 14px;
	/* background-color: #2f4050; */
	background-color: #f3f3f4;
	height: 100%;
}
.nav-pannel {
	width: 70px;
	height: 100%;
	background-color: #2f4050;
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	overflow: hidden;
	transition: width .5s linear;
}
.nav-pannel:hover {
	width: 200px;
	transition: width .5s linear;
}
.nav-pannel > .logo {
	width: 100%;
	height: 70px;
	background: url(../img/stat-icons.png) no-repeat 0 0;
}
.nav-pannel > .logo > a {
	display: block;
	width: 100%;
	height: 70px;
}
.nav-item {
	width: 100%;
	height: 70px;
	overflow: hidden;
	font-family: 'open sans semibold';
}
.nav-item > a {
	display: block;
	width: 100%;
	height: 70px;
	border-left: 4px solid transparent;
	color: #a7b1c2;
	opacity: 0.5;
}
.nav-item > a:hover {
	border-left: 4px solid #d55656;
	opacity: 1;
}
.nav-item > .active {
	background-color: #23303c;
	border-left: 4px solid #19aa8d;
	color: #ffffff;
	opacity: 1;
}
.logout-button {
	width: inherit;
	height: 70px;
	/* background-color: rgba(0, 0, 0, 0.25); */
	position: fixed;
	bottom: 0px;
	left: 0px;
}
.logout-button > a {
	color: #a7b1c2;
	opacity: 0.5;
}
.logout-button > a:hover {
	opacity: 1;
}
.icon-logout {
	width: 70px;
	height: 70px;
	float: left;
	background: url(../img/stat-icons.png) no-repeat 0px -70px;
}
.icon-graphs {
	width: 70px;
	height: 70px;
	float: left;
	background: url(../img/stat-icons.png) no-repeat 0px -140px;
}
.icon-reports {
	width: 70px;
	height: 70px;
	float: left;
	background: url(../img/stat-icons.png) no-repeat 0px -210px;
}
.nav-item-name {
	height: 44px;
	width: 106px;
	float: left;
	padding-top: 26px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.base-box {
	width: 100%;
	height: 100%;
	min-width: 1270px;
	padding-left: 70px;
	background-color: #f3f3f4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.small-graphs-box {margin-top: 15px;}
.graph-item-box {
	background-color: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 380px;
	overflow: hidden;
}
.graph-item-box > .header {
	height: 49px;
	border-top: 4px solid #e7eaec;
	border-bottom: 1px solid #e7eaec;
	overflow: hidden;
}
.graph-item-box > .header > .title {
	font-size: 14px;
	font-weight: 600;
	color: #676a6c;
	margin: 12px 12px;
	width: 70%;
	float: left;
	height: 24px;
	overflow: hidden;
}
.graph-item-box > .header > .icon {
	width: 12px;
	height: 12px;
	float: right;
	margin: 16px 16px 0px 0px;
	background: url(../img/expand-icon.png) no-repeat top left;
}
.graph-item-box > .header > .icon > a {
	width: 12px;
	height: 12px;
	display: block;
	cursor: pointer;
}
.graph-item-box > .content {
	padding: 14px;
	font-weight: 300;
	font-size: 14px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.graph-item-box > .content > .image {
	display: block;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 0;
	width: 400px;
}
.graph-item-box > .content > .image > img {
	width: 100%;
}
.graph-item-box > .content > .description {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0;
	width: 400px;
	color: #6E6E6E;
	font-size: 12px;
}
.titul-graph-box {
    border-top: 4px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    background-color: #ffffff;
    margin: 15px;
}
.standard-graph-box {
    margin-bottom: 15px;
}
.info-ticket {
    display: inline-block;
    padding: 12px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.installation-counts {
    font-size: 14px;
    /* margin: 12px 0px 10px 6px; */
    font-family: "open sans semibold";
    color: #666666;
}
.installation-counts > b {
    color: #6fb6b9;
    font-weight: inherit;
    font-family: "open sans semibold";
}

/* nvd3 styles customization*/
svg text {
    font-family: 'open sans' !important;
    font-size: 12px;
    font-weight: normal;
}

.nv-series text, .p0_title, .p1_title {
    font-size: 13px !important;
}